* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*fonts*/

@font-face {
  font-family: "Aquire Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Aquire Regular"), url("../fonts/Aquire-BW0ox.woff") format("woff");
}

@font-face {
  font-family: "Aquire Light";
  font-style: normal;
  font-weight: normal;
  src: local("Aquire Light"),
    url("../fonts/AquireLight-YzE0o.woff") format("woff");
}

@font-face {
  font-family: "Aquire Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Aquire Bold"),
    url("../fonts/AquireBold-8Ma60.woff") format("woff");
}

/* General*/
a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0px;
  background-image: linear-gradient(-45deg, #09055e, #2804c9, #0b048f, #09055e);
  padding: 0px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: url(../img/1.png), auto;
}

/*--nav--*/
header {
  position: sticky;
  z-index: 9999999999;
  top: 0;
  left: 0;
  padding: 0vh 5vw;
}
.nav {
  width: 100%;
  padding: 2vw 0vw;
  display: inline-block;
}

/*--logo--*/

.logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  float: left;
  font-size: 30px;
  font-family: "Aquire Bold";
}
.logo span:nth-child(even) {
  overflow: hidden;
  transition: ease-in-out 0.5s;
  border-bottom: 2px solid white;
  letter-spacing: -1em;
  color: #fff;
}
.logo span {
  display: inline-flex;
  color: #fd297a;
}
.logo:hover span:nth-child(2) {
  letter-spacing: 0;
  transition-delay: 0s;
  padding-bottom: 2px;
}

.logo:hover span:nth-child(4) {
  letter-spacing: 0;
  transition-delay: 0.2s;
  padding-bottom: 2px;
}
/*--logo end--*/

/*--Header menu--*/
.hamburgerbtn {
  float: right;
  background: none;
  border: none;
  font-size: 30px;
}
.menu {
  float: right;
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.menu a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1vw;
  font-size: 100%;
}

.headerbtn {
  width: fit-content;
  padding: 1vw;
  border-radius: 50px;
  border-style: hidden;
}

.headerbtn a {
  color: #100051;
}

.headerbtn:hover {
  background-color: #fd297a;
  box-shadow: 0px 2px 4px 2px #00000043;
}
.headerbtn a:hover {
  color: #fff;
}

.offcanvas {
  width: 100%;
  background: rgb(00, 00, 00, 0.5);
}
.btn-close {
  color: #ffffff !important;
  font-size: 30px;
  top: 10%;
  right: 10%;
  position: absolute;
  background: none;
}
/*--Header menu end--*/

.hero {
  margin: auto;
  align-content: center;
  display: flex;
  flex: 0 0 50%;
  height: 90vh;
  align-items: center;
  padding-top: 0%;
}
.text {
  align-self: center;
  left: auto;
  min-width: 40%;
  padding: 15% 6%;

  background-image: url(../img/blob_background.svg);
  background-repeat: no-repeat;
}

.text,
.heroimage {
  flex: 0 0 45%;
}
.text h1,
.text h4 {
  padding: 2px;
  margin: 0px;
}
.text h1 {
  font-size: 45px;
  margin: 0px;
  font-weight: 800;
}
.text h4 {
  font-size: 25px;
  font-weight: lighter;
  color: #f8f4f5;
}
.hero img {
  max-width: 100%;
  transform: rotate(-45deg);

  box-shadow: 0px 0px 10px white;
}
.heroimage {
  max-width: 50%;
  padding: 5% 10%;
}

.aboutbtn {
  background-color: white;
  color: #100051;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  align-content: center;
  width: fit-content;
}
.aboutbtn h5 {
  color: #100051;
  margin: 0;
}

.bi-arrow-down-circle {
  font-size: 30px;
  margin-left: 6px;
}

.animation div {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid;
}
.animation div:nth-child(even) {
  border-radius: 50%;
}

.animation div:nth-child(odd) {
  animation: animate linear infinite;
}

.animation div:nth-child(1) {
  top: 73%;
  left: 50%;
  animation: animate 7s linear infinite;
  border-color: #fd297a;
}
.animation div:nth-child(2) {
  top: 15%;
  left: 50%;
  animation: animate 9s linear infinite;
}
.animation div:nth-child(3) {
  top: 8%;
  left: 18%;
  animation: animate 11s linear infinite;
  border-color: #fd297a;
}
.animation div:nth-child(4) {
  top: 60%;
  left: 41%;
  animation: animate 10s linear infinite;
}
.animation div:nth-child(5) {
  top: 70%;
  left: 90%;
  animation: animate 15s linear infinite;
}
.animation div:nth-child(6) {
  top: 80%;
  left: 8%;
  animation: animate 9s linear infinite;
}
.animation div:nth-child(7) {
  top: 27%;
  left: 9%;
  animation: animate 11s linear infinite;
  border-color: #fd297a;
}
.animation div:nth-child(8) {
  top: 16%;
  left: 89%;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/**About Section**/
.about {
  height: 100vh;
  display: flex;
  margin: auto;
  width: fit-content;
  align-items: center;
}

.aboutme1,
.aboutme2 {
  width: 50%;
  padding: 5% 5%;
}

/**Mobile View*/

@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    height: 100vh;
  }
  .text {
    padding: 5% 6% 0px;
  }
  .heroimage img {
    width: 300px;
  }
  .heroimage {
    max-width: 70%;
  }
}
